@{
    Layout = "~/Shared/_HomeBootstrapLayout.cshtml";
    Page.Title = "Home Page";
}
<header class="intro">
    <div class="intro-body">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="brand-heading">
                        Affordable Housing Services
                    </h1>
                    <h1 class="brand-heading">for</h1>
                    <h1 class="brand-heading">
                        Property Owners
                    </h1>
                    <a href="~/property-owner.cshtml" class="btn btn-success btn-lg text-center">Landlord</a>
                    <a href="~/property-developer.cshtml" class="btn btn-success btn-lg text-center">Developer</a>
                </div>
            </div>
        </div>
    </div>
</header>