@using SODA;
@using System;
@using System.Collections.Generic;
@using System.IO;
@using System.Linq;
@using System.Net;
@using System.Text;
@using System.Threading.Tasks;
@using Esri.ArcGISRuntime.Tasks.Geocoding;
@using Esri.ArcGISRuntime.Geometry;
@using Esri.ArcGISRuntime.Tasks.Query;
@using HackHousingOutOfTheBox;
@using HackHousingOutOfTheBox.Services;
@using Geocoding.Google;
@using Geocoding;
@using Newtonsoft.Json;
@{
    Layout = "~/Shared/_BootstrapLayout.cshtml";
    Page.Title = "Create an Account";
}
<div style="margin-top: 100px;">


    <div class="row">
        <div class="col-md-8">
            <ol class="workflow-view">
                <li class="active">
                    <h3><span class="step-num">Step 1:</span> Contact Local Housing Authority</h3>
                    <div class="step-details">
                        <div style="font-weight: bold;">Missoula Housing Authority</div>
                        <div>1235 34th St</div>
                        <div>Missoula, MT 59801</div>
                        <div><a href="mailto:ldavidson@missoulahousing.org">ldavidson@missoulahousing.org</a></div>
                        <div>(406) 549-4113</div>
                        
                        <div class="step-control">
                            <a href="#" type="button" class="btn btn-default btn-lg btn-success">Next Step <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></a>
                        </div>
                    </div>
                </li>
                <li>
                    <h3><span class="step-num">Step 2:</span> Submit Forms</h3>
                    <div class="step-details">
                        <p>Submit and complete the following forms:</p>
                        <ul>
                            <li><a href="#">Landlord Intake Form</a></li>
                            <li><a href="#">Additional Form 1</a></li>
                            <li><a href="#">Additional Form 2</a></li>
                        </ul>

                        <div class="step-control">
                            <a href="#" type="button" class="btn btn-default btn-lg btn-success">Next Step <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></a>
                        </div>
                    </div>
                </li>
                <li>
                    <h3><span class="step-num">Step 3:</span> Track Approval</h3>
                    <div class="step-details">
                        <p>
                            Connect with your Local Housing Authority using a application ID to
                            track the status of your application.
                        </p>

                        <div class="step-control">
                            <a href="#" type="button" class="btn btn-default btn-lg btn-success">Next Step <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></a>
                        </div>
                    </div>
                </li>
                <li>
                    <h3><span class="step-num">Step 4:</span> Complete Inspection</h3>
                    <div class="step-details">
                        <p>
                            As part of the application process, you will need to schedule an inspection of
                            the property.
                            <a href="/inspectors">View a list</a> of certified inspectors.
                        </p>

                        <div class="step-control">
                            <a href="#" type="button" class="btn btn-default btn-lg btn-success">Next Step <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></a>
                        </div>
                    </div>
                </li>
                <li>
                    <h3><span class="step-num">Step 5:</span> Create Listing</h3>
                    <div class="step-details">
                        <p>
                            <strong>Application approved!</strong>
                            Property is now listed and available to eligible tenants.
                        </p>
                    </div>
                </li>
            </ol>
        </div>
        <div class="col-md-4">
            <a href="#" type="button" class="btn btn-default btn-lg btn-primary">Need Volunteers?</a>
        </div>
    </div>

</div>

<script type="text/javascript" src="~/Scripts/jquery-1.10.2.min.js"></script>
<script type="text/javascript">
    $('.workflow-view .step-control a').click(function (event) {
        var $this = $(this);
        event.preventDefault();
        $this.closest('li').removeClass('active').next('li').addClass('active');
    });
</script>